body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #FFCD00;
    text-decoration: overline double;
    text-align: center;
}

h2 {
    color: #FFCD00;
    text-decoration: overline;
}

h3 {
    color: #00629B;
    text-decoration: overline;
}

footer {
    padding: 8px;
    background-color: #B6B1A9;
}

details:hover {
    color: #FFCD00;
}

button:hover {
    color: #00C6D7;
}

a:hover {
    color: #FFCD00;
}

a:active {
    color: red;
}

.entry {
    color: #00629B;
}

.list {
    color: #00C6D7;
}

#newentry {
    color: black; 
}

#haiku {
    font-family: 'EB Garamond', serif;
}

@media (min-width: 720px) {
    
}