* head main {
    background-color: white;
}

header {
    display: grid;
    gap: 5px;
    place-items: center;
    place-content: center;
}

nav {
    position: static;
    border-style: dashed; 
    border-color: black;
    margin: auto;
    padding: 1em;
    height: auto;
    width: 400px;
}

body {
    margin: 12.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: #FFCD00;
    text-decoration: overline double;
    text-align: center;
    position: sticky;
    top: 20px;
}

h2 {
    color: #FFCD00;
    text-decoration: overline;
}

h2[id="6april2021"] {
    color: red;
    text-decoration: underline;
}

main > h3 {
    color: #00629B;
    text-decoration: overline;
}

body footer {
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #B6B1A9;
    border-style: solid;
    border-color: #00629b;
    border-width: 0.5vw;
    border-radius: 10px;
}

details:hover, a:hover {
    color: #FFCD00;
}

button:hover, .list {
    color: #00C6D7;
}

a:active {
    color: red;
}

figure {
    display: block;
}

p + blockquote {
    color: #FFCD00;
}

figure ~ p, p.entry {
    color: #00629B;
}

#haiku {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
}

#author {
    color: #FFCD00;
    font-size: 14pt;
}

#hidden {
    display: none;
}

@media (max-width: 12in) {
    body {
        margin: 10em;
    }
}